.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;

    -ms-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d; 
    -ms-transform-style: preserve-3d; 
}

.flip-container:hover .flip-container:active .back, .flip-container.hover .back, .flip-container.flip .back{
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

.flip-container:hover .flip-container:active .front, .flip-container.hover .front, .flip-container.flip .front {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
} 

.flip-container, .front, .back {
    width: calc(var(--board-width) / 4 * 3 - 4px);
    height: calc(var(--board-height) / var(--board-size) - 4px + 2px);   
}

.flipper {
    -webkit-transition: transform 0.6s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: transform 0.6s;

    -moz-transition: transform 0.6s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;

    transition: transform 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transition: transform 0.6s;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateX(0deg);

    -moz-transition: transform 0.6s;
    -moz-transform-style: preserve-3d;
    -moz-transform: rotateX(0deg);

    -o-transition: transform 0.6s;
    -o-transform-style: preserve-3d;
    -o-transform: rotateX(0deg);

    -ms-transition: transform 0.6s;
    -ms-transform-style: preserve-3d;
    -ms-transform: rotateX(0deg);

    transition: transform 0.6s;
    transform-style: preserve-3d;
    transform: rotateX(0deg);

    position: absolute;
    top: 0;
    left: 0;
}

.front {
    -webkit-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    z-index: 2;
}

.back {
    -webkit-transform: rotateX(-180deg);
    -moz-transform: rotateX(-180deg);
    -o-transform: rotateX(-180deg);
    -ms-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
}