@import url("flip.css");

@font-face {
    font-family: 'Liberation';
    src: url(../fonts/LiberationSerif-Regular.ttf);
}

@font-face {
    font-family: 'Liberation';
    src: url(../fonts/LiberationSerif-Bold.ttf);
    font-weight: bold;
}

:root{

    --board-height: 80vmax;
    --board-width: 80vmin;

    --notch-size-outer: 10px;
    --notch-size-inner: 9px;

    --offset: 2px;

    --board-size: 8;
    --hole-size: 1.5;
    --hole-size-bc: 3.9;

    --background-color: white;
    --hole-color: #dcdcdc;
}

body{
    font-family: 'Liberation', 'Times New Roman', Times, serif;
    background: var(--background-color);
}

.board{
    display: flex;
    flex-direction: column;
    width: var( --board-width);
    height: calc(var(--board-height) - (var(--board-size) - 2) * var(--offset));

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.turn{
    display: flex;
    margin-bottom: calc(var(--offset) * -1);
    margin-left: 1px;
    opacity: 0;
}

.code-outer{
    background: black;
    width: calc(var(--board-width) / 4 * 3);
    height: calc(var(--board-height) / var(--board-size) + var(--offset));

    clip-path: 
        polygon(
            0% var(--notch-size-outer), 
            var(--notch-size-outer) 0%, 
            calc(100% - var(--notch-size-outer)) 0%, 
            100% var(--notch-size-outer), 
            100% calc(100% - var(--notch-size-outer)), 
            calc(100% - var(--notch-size-outer)) 100%, 
            var(--notch-size-outer) 100%, 
            0% calc(100% - var(--notch-size-outer))
        );

    -webkit-clip-path: 
        polygon(
            0% var(--notch-size-outer), 
            var(--notch-size-outer) 0%, 
            calc(100% - var(--notch-size-outer)) 0%, 
            100% var(--notch-size-outer), 
            100% calc(100% - var(--notch-size-outer)), 
            calc(100% - var(--notch-size-outer)) 100%, 
            var(--notch-size-outer) 100%, 
            0% calc(100% - var(--notch-size-outer))
        );
}

.code-inner{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    background: var(--background-color);

    width: calc(var(--board-width) / 4 * 3 - var(--offset) * 2);
    height: calc(var(--board-height) / var(--board-size) - var(--offset) * 2 + var(--offset));
    left: var(--offset);
    top: var(--offset);

    clip-path: 
        polygon(
            0% var(--notch-size-inner), 
            var(--notch-size-inner) 0%, 
            calc(100% - var(--notch-size-inner)) 0%, 
            100% var(--notch-size-inner), 
            100% calc(100% - var(--notch-size-inner)), 
            calc(100% - var(--notch-size-inner)) 100%, 
            var(--notch-size-inner) 100%, 
            0% calc(100% - var(--notch-size-inner))
        );

    -webkit-clip-path: 
        polygon(
            0% var(--notch-size-inner), 
            var(--notch-size-inner) 0%, 
            calc(100% - var(--notch-size-inner)) 0%, 
            100% var(--notch-size-inner), 
            100% calc(100% - var(--notch-size-inner)), 
            calc(100% - var(--notch-size-inner)) 100%, 
            var(--notch-size-inner) 100%, 
            0% calc(100% - var(--notch-size-inner))
        );
}

.hole-code{
    height: calc((var(--board-height) / var(--board-size) - var(--offset) * 2 + var(--offset)) / var(--hole-size));
    width: calc((var(--board-height) / var(--board-size) - var(--offset) * 2 + var(--offset)) / var(--hole-size));
    border-radius: 50%;
    background: var(--hole-color);
    text-align: center;
    line-height: calc(var(--board-height) / 16);
    font-weight: bold;
    font-size: 1.5em;
    box-sizing: border-box;
}

.bc-outer{
    background: black;
    width: calc(var(--board-width) / 4);
    height: calc(var(--board-height) / var(--board-size) + var(--offset));
    margin-left: calc(-1 * var(--offset));

    clip-path: 
        polygon(
            0% var(--notch-size-outer), 
            var(--notch-size-outer) 0%, 
            calc(100% - var(--notch-size-outer)) 0%, 
            100% var(--notch-size-outer), 
            100% calc(100% - var(--notch-size-outer)), 
            calc(100% - var(--notch-size-outer)) 100%, 
            var(--notch-size-outer) 100%, 
            0% calc(100% - var(--notch-size-outer))
        );

    -webkit-clip-path: 
        polygon(
            0% var(--notch-size-outer), 
            var(--notch-size-outer) 0%, 
            calc(100% - var(--notch-size-outer)) 0%, 
            100% var(--notch-size-outer), 
            100% calc(100% - var(--notch-size-outer)), 
            calc(100% - var(--notch-size-outer)) 100%, 
            var(--notch-size-outer) 100%, 
            0% calc(100% - var(--notch-size-outer))
        );
}

.bc-inner{
    display: grid;
    position: relative;
    gap: 5px;
    grid-template-columns: auto auto;
    justify-items: center;
    align-items: center;
    background: var(--background-color);
    
    width: calc(var(--board-width) / 4 - var(--offset) * 2);
    height: calc(var(--board-height) / var(--board-size) - var(--offset) * 2 + var(--offset));
    left: var(--offset);
    top: var(--offset);

    clip-path: 
        polygon(
            0% var(--notch-size-inner), 
            var(--notch-size-inner) 0%, 
            calc(100% - var(--notch-size-inner)) 0%, 
            100% var(--notch-size-inner), 
            100% calc(100% - var(--notch-size-inner)), 
            calc(100% - var(--notch-size-inner)) 100%, 
            var(--notch-size-inner) 100%, 
            0% calc(100% - var(--notch-size-inner))
        );

    -webkit-clip-path: 
        polygon(
            0% var(--notch-size-inner), 
            var(--notch-size-inner) 0%, 
            calc(100% - var(--notch-size-inner)) 0%, 
            100% var(--notch-size-inner), 
            100% calc(100% - var(--notch-size-inner)), 
            calc(100% - var(--notch-size-inner)) 100%, 
            var(--notch-size-inner) 100%, 
            0% calc(100% - var(--notch-size-inner))
        );
}

.hole-bc{
    height: calc((var(--board-height) / var(--board-size) - var(--offset) * 2 + var(--offset)) / var(--hole-size-bc));
    width: calc((var(--board-height) / var(--board-size) - var(--offset) * 2 + var(--offset)) / var(--hole-size-bc));

    border-radius: 50%;
    background: var(--hole-color);
    box-sizing: border-box;
}

.white{
    background: white;
    border: 1px solid black;
}

.black{
    background: black;
}

.pegs{
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    width: calc(var(--board-width));
    height: calc(var(--board-height) / var(--board-size) - 10px);
}

.peg{
    height: calc((var(--board-height) / var(--board-size) - var(--offset) * 2 + var(--offset)) / var(--hole-size));
    width: calc((var(--board-height) / var(--board-size) - var(--offset) * 2 + var(--offset)) / var(--hole-size));
    border-radius: 50%;
    text-align: center;
    line-height: calc(var(--board-height) / 16);
    font-weight: bold;
    font-size: 1.5em;
    transition: transform 0.3s ease-in-out;
    opacity: 0;
}

.moving{
    z-index: 100;
}

.color-a{
    background: #e23838;
}

.color-b{
    background: #5ebd3e;
}

.color-c{
    background: #f78200;
}

.color-d{
    background: #009cdf;
}

.color-e{
    background: #ffb900;
}

.color-f{
    background: #973999;
}

.hidden {
    display: none;
}

#label{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#title{
    font-size: 12.1vmin;
    font-weight: bold;
    margin: 0;
    text-align: center;
    margin-top: -2vmin;
}

#subtitle{
    font-size: 3vmin;
    margin: 0;
    text-align: center;
    margin-top: -0.7em;
    margin-bottom: -0.3em;
    color: gray;
}

#solution{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: calc(var(--board-width) / 4 * 3 - var(--offset) * 2);
    height: calc(var(--board-height) / var(--board-size) - var(--offset) * 2 + var(--offset));    
}

img{
    height: calc((var(--board-height) / var(--board-size) - var(--offset) * 2 + var(--offset)) / var(--hole-size));
    width: calc((var(--board-height) / var(--board-size) - var(--offset) * 2 + var(--offset)) / var(--hole-size));
    justify-self: end;
    opacity: 0.2;
    transition: opacity 0.6s ease-in-out;  
}

@media (min-width: 460px) and (min-height: 460px){

    :root{
        --notch-size-outer: 15px;
        --notch-size-inner: 13px;
        --offset: 3px;
        --hole-size: 1.5;
    }

    #title{
        font-size: 9.7vmin;
        font-weight: bold;
        margin: 0;
        text-align: center;
        margin-top: -2vmin;
    }
    
    #subtitle{

        font-size: 2vmin;
        margin: 0;
        text-align: center;
        margin-top: -0.9em;
        margin-bottom: -0.3em;
        color: gray;
    }   
}

@media (min-width: 1200px), (min-height: 1200px){

    :root{
        --notch-size-outer: 20px;
        --notch-size-inner: 18px;
    }
}

@media (hover: hover){

    :root{
        --notch-size-outer: 10px;
        --notch-size-inner: 8px;
    }

    #title{
        font-size: 4.1vmax;
    }
    
    #subtitle{
        font-size: 0.8vmax;
    }
}

@media (orientation: landscape) and (hover: none){

    body {
      position: absolute;
      top: 48%;
      left: 50%;
      margin-right: -50%;
      transform: rotate(-90deg) translate(-50%, -50%);
    }
}

.noselect {
-webkit-tap-highlight-color: transparent;
      -webkit-touch-callout: none;
        -webkit-user-select: none; 
           -moz-user-select: none; 
            -ms-user-select: none; 
                user-select: none; 
}
 